#### Task 1: Dataset Exploration
1. Download and load the dataset into a Jupyter Notebook. (5 points)
2. Display the shape of the dataset (number of rows and columns). (5 points)
3. Show the first 5 rows of the dataset using Pandas. (5 points)

In [11]:
import os
import numpy
import pandas as pd
import matplotlib.pyplot as ply

In [17]:
jobs = pd.read_csv('Demo_Data.csv')

In [18]:
jobs

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
...,...,...,...,...,...,...
6699,49.0,Female,PhD,Director of Marketing,20.0,200000.0
6700,32.0,Male,High School,Sales Associate,3.0,50000.0
6701,30.0,Female,Bachelor's Degree,Financial Manager,4.0,55000.0
6702,46.0,Male,Master's Degree,Marketing Manager,14.0,140000.0
6703,26.0,Female,High School,Sales Executive,1.0,35000.0

In [23]:
print('shape: ', jobs.shape) # where (x,y) where x is the number or rows, y is number of columns

shape:  (6704, 6)

In [24]:
print('columns: ', jobs.columns) # lists the column NAMES, not the amt, just testing this out

columns:  Index(['Age', 'Gender', 'Education Level', 'Job Title', 'Years of Experience',
       'Salary'],
      dtype='object')

In [30]:
print(jobs.head()) # shows first 5 jobs, where .head(n) where n is the number of entries you can show

    Age  Gender Education Level          Job Title  Years of Experience  \
0  32.0    Male      Bachelor's  Software Engineer                  5.0
1  28.0  Female        Master's       Data Analyst                  3.0
2  45.0    Male             PhD     Senior Manager                 15.0
3  36.0  Female      Bachelor's    Sales Associate                  7.0
4  52.0    Male        Master's           Director                 20.0

     Salary
0   90000.0
1   65000.0
2  150000.0
3   60000.0
4  200000.0

#### Task 2: Think-Pair-Share Discussion (10 points)
1. What kinds of questions can you answer from this dataset?
2. What questions would you like to answer but cannot with this dataset?
3. What would an ideal dataset look like?
4. Imagine a product or service that could be developed using this dataset
a. who are the stakeholders?
b. What value would this product or service provide?

**Question 1 Response**
- Mean of user ages?
- Percentage of different education levels (i.e. Bachelor's, Master's PhD)?
- Mean of years of experience?
- Categorical count of different job titles?

**Question 2 Response**
I woudl like to know the correlation between the job titles and gender, and whether there are any similarities or differences between the two. I'd also add age for an extra layer of detail as well. So a question could be like, what job types does each gender lean to? Can we draw categories from that? 

**Question 3 Response** 
One that is clean and has the relevant data. It really depends on why you're doing an analysis in the first place and who this is for. Let's say said stakeholder wants to look into the demographic of a com

#### Task 3: Data Analysis and Visualization
1. Create a bar plot showing job counts for the top 5 industries. (5 points)
2. Create a bar plot of the mean salary estimates for the same top 5 industries. (5 points)
Hint: Clean the 'Salary Estimate' column first and use the mid-point salary.
3. Develop one additional analysis question of your choice and answer it using Python code. (5
points)

#### Task 4: Reflection (10 points)
1. Summarize the new concepts or coding skills you learned.
2. Include code snippets or notes for future reference.
3. Reflect on how ChatGPT helped (or did not help) in completing the lab.
4. Compare this learning experience to other methods (lectures, exercises, Google searches).
5. Share your overall sentiment about the lab session (e.g., productive, enjoyable, frustrating).

#### Bonus Question (Task 5) (10 points)
Using the Demo_Data.csv dataset, generate a Profile Table
1. Create a profile table that summarizes the dataset, including:
- Number of rows and columns
- Data types of each column
- Number of missing values per column
- Basic statistics for numerical columns (mean, median, min, max)
- Distribution counts for categorical columns (e.g., Gender, Education Level, Job Title)

2. Display this summary in a well-formatted table (hint: you can use pandas.DataFrame.describe(), value_counts(), and custom aggregation).

3. Reflect: 
- How does this profile table help you understand the dataset quickly?
- If you were preparing the data for a machine learning model, which columns might need
cleaning or transformation?