# Week 1

In [1]:
print('getting started')

getting started

In [2]:
print('hello world')

hello world

In [6]:
# string

-----------

#### Problem 1 (10 points): Variable Practice
1. Create three variables:
- Your age (integer)
- Your name (string)
- Your GPA (float)
2. Print them out with their types using ty

In [11]:
name = 'Sydnee'
age = 22
gpa = 3.4

In [12]:
name_t = type(name)
age_t = type(age)
gpa_t = type(gpa)

In [13]:
print('Name: ' + name + ' (type: ' + str(name_t) +
      ' | Age: ' + str(age) + ' (type: ' + str(age_t) +
      ' | GPA: ' + str(gpa) + ' (type: ' + str(gpa_t))

Name: Sydnee (type: <class 'str'> | Age: 22 (type: <class 'int'> | GPA: 3.4 (type: <class 'float'>

---

#### Problem 2: String Concantenation
The variable students = 25.
- Write a program that prints: There are 25 students in the class.
- Do this twice:
1. By using str() to convert the number.
2. By using .format().

In [14]:
students=25

In [15]:
print('There are ' + str(students) + ' students in the class.')

There are 25 students in the class.

In [16]:
print('There are {} students in the class'.format(students))

There are 25 students in the class

In [17]:
# reflection - i didn't know how to use the .format() method and you attach it to strings. it will return the following string with

---

#### Problem 3 (10 points): User Input
Ask the user for:
- The number of new students joining the class.
- Print out the total number of students (originally 20 students + new students).

In [19]:
user_data = input('Enter the number of number of new students joining this week: ')

Enter the number of number of new students joining this week:  30

In [20]:
print('Total number of students: ' + str(int(user_data) + 20))

Total number of students: 50

---

#### Problem 4 (10 points): Working with Lists
1. Create a list of your 4 favorite movies.
2. Print the list in the original order.
3. Print the list in sorted order.
4. Add one more movie to the list and print again.

In [21]:
movies = ['Closer', 'The Other Woman', 'The Bronx Tale', 'Ponyo']

In [22]:
print('Original movies: ' + str(movies)) # didn't realize that you have to make lists strings, can only concantenate strings

Original movies: ['Closer', 'The Other Woman', 'The Bronx Tale', 'Ponyo']

In [23]:
print(movies)

['Closer', 'The Other Woman', 'The Bronx Tale', 'Ponyo']

In [24]:
movies.sort() # sorts list in natural order i.e. alphabetical, numerical, etc
# can reverse it where list.sort(reverse=True)

In [25]:
print(movies)

['Closer', 'Ponyo', 'The Bronx Tale', 'The Other Woman']

In [26]:
movies.append('Winnie the Pooh')

In [27]:
print(movies)

['Closer', 'Ponyo', 'The Bronx Tale', 'The Other Woman', 'Winnie the Pooh']

---

#### Problem 5 (10 points): Nested Lists
The following data represents fruits with their ID numbers:
[[1,'apple'], [2,'banana'], [3,'cherry'], [4,'mango']]


Write a program that:
1. Prints the entire list.
2. Prints only the fruit names (no numbers).
3. Prints them in reverse order.

In [28]:
fruits = [[1,'apple'], [2,'banana'], [3,'cherry'], [4,'mango']]

In [29]:
print('Original items: ' + str(fruits))

Original items: [[1, 'apple'], [2, 'banana'], [3, 'cherry'], [4, 'mango']]

In [30]:
fruit_names = [row[1] for row in fruits]
fruit_names

['apple', 'banana', 'cherry', 'mango']

In [31]:
print('Fruit names: ' + str(fruit_names))

Fruit names: ['apple', 'banana', 'cherry', 'mango']

In [32]:
fruit_names.reverse()

In [33]:
print('Reverse order: ' + str(fruit_names))

Reverse order: ['mango', 'cherry', 'banana', 'apple']

---

#### Challenge Problem (Optional) (10 bonus points)
Write a Python program that:
1. Asks the user for their name.
2. Asks the user for their 3 favorite colors (one at a time).
3. Stores the colors in a list.
4. Prints a message:
Hello Kai! Your favorite colors are: ['blue', 'green', 'red']

In [34]:
user_name = input('What is your name?')

What is your name? Sydnee

In [35]:
colors = [input("Enter favorite color: ") for i in range(3)]
# logic is going to provide 3 items for entry

Enter favorite color:  blue
Enter favorite color:  grey
Enter favorite color:  purple

In [36]:
print('Hi ' + str(user_name) + '! Your favorite colors are: ' + str(colors))

Hi Sydnee! Your favorite colors are: ['blue', 'grey', 'purple']